/*____________________MAIN____________*/

body {
    background: url(../images/bg_body.jpg) repeat 0 0;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 11px;
    color: #ffcc99;
    line-height: 1.1em;
}


/*___________________Сommon____________*/

h1 {
    font-family: Georgia, sans-serif;
    font-size: 22px;
    font-weight: 100;
    color: #ead4aa;
    margin-bottom: 20px;
    margin: 0 0 0 246px;
}

h2 {
    font-family: Georgia, sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: #fff68d;
    margin-bottom: 15px;
    margin: 0 0 0 246px;
}

.article {}

article p {
    margin: 0 0 0 246px;
    font-size: 11px;
    color: #d7cfc8;
    line-height: 1.5em;
}

.wrapper {
    width: 1000px;
    margin: auto;
    position: relative;
}


/*_______________________HEADER_________________________*/

.header {
    position: relative;
    margin: 200 px;
    font-size: 11px;
}


/*Lang list*/

.lang-list {
    list-style: none;
}

.lang-list li {
    float: left;
    margin-right: 1px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #fff68d;
    /*position: static;*/
}

.lang-item a {
    color: #fff68d;
}

.
/*auth*/

.auth {
    list-style: none;
}

.auth-link a {
    float: right;
    margin-right: 1px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #fff68d;
}


/*menu-list*/

.menu-list {
    list-style: none;
}

.menu-list li {
    float: left;
    margin-right: 0;
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 47px;
}

.menu-list li a {
    display: block;
    padding: 15px 20px;
    background: #f6f5f4;
    color: #461500;
    text-decoration: none;
    position: relative;
}


}

/*_______________________CONTENT_________________________*/
.content {
    margin: 40px 0 100;
    padding: 2px;
}
.content img {
    width: 95;
    height: 65;
    overflow: hidden;
    font-size: 0;
}
.promo {
    width: 1000px;
    height: 157px;
    margin: 0 0 0 246px;
    position: relative;
    overflow: hidden;
    font-size: 0;
    color: #fff68d;
}
.promo.img {
    background-image: url(/src/images/bg_about.png);
}

/*_______________________FOOTER_________________________*/
.footer {
    font-family: Verdana, 'Times New Roman', Times, serif;
    font-size: 11px;
    position: relative;
    width: 1000px;
    margin: auto;
    border-top: 1px solid #99793d;
    height: 75px;
}
.footer .menu-list a {
    color: #ffffff;
    position: left;
    position: relative;
}